html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252526;
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ////////////////////////////////////////// */

#cabecaho {
    display: flex;
    align-self: flex-start;
    width: 25%;
    margin: 10px 0 0 45px;
    height: 30px;
    gap: 20px;

    /* border: 1px solid greenyellow; */
    
}

button {
    border-radius: 7px;
    border: 2px solid black;
    box-shadow: 2px 2px;
    background-color: green;

    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;

    cursor: pointer;

    display: none;
}

#signout_button {
    background-color: red;
}

#cabecaho:hover  {
    display: block;
}

#conteudo {
    /* border: 1px solid red; */

    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;

    gap: 20px;
    width: 95vw;
    max-height: 90vh;

    margin-top: 30px;
    padding-bottom: 20px;

    overflow-y: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20%;
    min-height: 90px;
    /* height: 150px; */
    /* margin: 20px 0 0 50px; */
    padding: 10px 20px 10px 20px;
    border: 5px solid #585690;
    box-shadow: 5px 5px #7a78c3;
    border-radius: 10px;
    overflow-wrap: break-word;

    background-color: #e3baff;
}

.card_titulo {
    font-size: 25px;
    font-weight: 800;
}

.card_subTitulo {
    /* font-weight: 400; */
    font-size: 18px;
    margin-top: 5px;
}

.container_texto {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    
}

.card_paragrafo {
    font-weight: 900;
}


