.container_titulo{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
    /* border: 1px solid red; */
}

h1 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 5em !important;
    font-weight: 700 !important;
    margin-top: .5% !important;
    margin-bottom: 1% !important;
    text-align: center;
    width: 20%;

    /* background-color: #c5c5fe; */
    background-color: #ffadde;
    border: 5px solid black;
    box-shadow: 5px 5px;
    border-radius: 15px;
}

.sala {
    height: 95vh;
    width: 100vw;
    padding: 0 2em 2em 2em;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px !important;
    height: 87%;
}


