.sala {
    display: flex;
    flex-direction: column;
    border-bottom: 50px solid transparent;

    &__titulo {
        align-self: center;
        font-size: 5em;
        font-weight: 700;
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
        text-align: center;
        width: 20%;

        /* background-color: #c5c5fe; */
        background-color: #ffadde;
        border: 5px solid black;
        box-shadow: 5px 5px;
        border-radius: 15px;
    }

    &__eventos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        height: 100%;
        // border: 1px solid red;
        // margin-top: 20px;
    }
}

///////////////////////////
///
///
.evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem;

    background-color: #a3e8ff;

    border: 8px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px;
    max-width: 30%;
    width: max-content;
    height: max-content;
    font-weight: 600;

    &__cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        // padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: 1.3em;

        // border: 1px solid red;

        p:first-child {
            // border: 1px solid gold;
        }

        p:last-child {
            border: 3px solid black;
            box-shadow: 3px 3px;
            border-radius: 8px;
            background-color: #dafc3d;
            border: 3px solid black;
            padding: 2px 10px;
        }
    }

    &__processo {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        // padding-top: 0.4em;
        // margin-bottom: 0.3em;

        border: 5px solid black;
        background-color: #f5f5dc;
        border-radius: 10px;
        box-shadow: 5px 5px;
        padding-top: 10px;
        padding: 0.5rem;

        p:first-child {
            border: 3px solid black;
            box-shadow: 3px 3px;
            border-radius: 8px;
            font-size: 1.7rem;
            background-color: white;
            align-self: center;
            padding: 0 15px;
        }

        p:last-child {
            font-size: 1.5rem;
            font-weight: 600;
            padding-top: 0.4em;
            margin-bottom: 0.3em;

            inline-size: 24rem;
            word-break: break-all;
        }
    }

    &__nomeVara {
        font-size: 2.5rem;
    }
}
