.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fefff4;
    position: relative;
    overflow: hidden;

    &__clock {
        color: #8a2be2;
        font-size: 2rem;
        font-weight: 700;

        transform: translate(55rem, 1rem);
        position: absolute;
        z-index: 1;
    }

    &__nome {
        display: flex;
        align-items: center;
        gap: .2rem;

        color: black;
        opacity: 0.5;
        font-size: .7rem;
        font-weight: 700;

        transform: translate(5.5rem, -1.5rem);

        // transform: translate(-55rem, 1.5rem);
        // position: absolute;
        // z-index: 1;
    }

    &__containerButton {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        height: 4rem;
        // background-color: red;

        button {
            // border: 5px solid black;
            padding: .5rem 2rem;
            height: 5rem;
            width: 15rem;
            font-size: 1.3em;
            font-weight: 700;
            cursor: pointer;

            border: none;
            background-color: transparent;

        }

        // button:nth-child(1) {
        //     background-color: #a3e8ff;
        //     margin-right: 2rem;
        // }
        // button:nth-child(2) {
        //     background-color: #dafc3d;
        //     margin-left: 2rem;
        // }

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.slider {
    width: 100%;
    height: 96%;
}
