.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100vh;

    /* border: 1px solid red; */
}

.clock {
    /* border: 1px solid red; */
    color: blueviolet;
    font-weight: 600 !important;
    font-size: 2em !important;
    align-self: flex-end;
    margin: 30px 30px 0 0;
}

.div_loadApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: 1px solid greenyellow; */
}

.bnt_loadApp {
    align-self: center;

    border: none;
    background-color: transparent;

    /* background-image: url("../public/assets/definicoes.svg"); */
    /* background-image: url("assets/definicoes.svg"); */
    background-image: url("assets/download.png");
    background-position: center;
    background-size: cover;

    cursor: pointer;

    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
    /* border: 1px solid red; */
}
